*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    height: 100vh;
    width: 100%;
}

.quote-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50%;
    padding: 50px;
    background-color: azure;
    border-radius: 15px;
    height: 35%;
}

.quote-box h2{
    display: flex;
    justify-content: center;
    margin-top: -20px;
}

.quote-box h2::after{
    content: '';
    width: 75px;
    background-color: aqua;
    height: 3px;
    position: absolute;
    border-radius: 5px;
    top: 60px;
}

.quote-box p{
    text-align: center;
    margin-top: 25px;
    font-size: 23px;
}
.quote-box p::before ,.quote-box p::after{
    content: '';
}
.quote-box span{
    position: relative;
    display: block;
    float: right;
    top: 49px;
    font-size: 18px;
}

.quote-box span::before{
    content: '';
    width: 27px;
    height: 2.3px;
    background-color: aqua;
    position: absolute;
    left: -29px;
    top: 10px;
}

.quote-box .btn{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: .5rem;
}

.btn button{
    background-color: rgb(23, 123, 229);
    color: aliceblue;
    border: 1px solid rgb(23, 123, 229);
    width: 150px;
    height: 50px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
